<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Back</title>
    <style>
        body{
            font-size: 25px;
            color: rgb(12, 27, 244);
        }
        h1{
            color: blueviolet;
        }
        h2{
            color: brown;
        }
    </style>
</head>
<body>
    <h1>This is my First Heading:-</h1>
    <p><b><i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus corporis consequatur consequuntur excepturi quos odio obcaecati quaerat fugit maiores maxime earum, eos id? In harum, autem alias optio provident eum.</i></b></p>
    <h2>I am Subhrajit swain</h2>
    <pre><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore dolores?
        Lorem ipsum dolor sit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem omnis quas, impedit eius porro corporis
         accusantium, rerum soluta cumque asperiores fugit laborum repudiandae aliquid adipisci odit consequatur 
         sint repellendus maxime quisquam eligendi voluptatibus! Accusantium, excepturi? Maiores dignissimos 
         consequatur vero ratione distinctio architecto harum similique accusantium ducimus tenetur debitis 
         repellendus optio, doloribus quos maxime? Earum, consectetur.
    </i></pre>
</body>
</html>